{{template "header"}}
Hi there {{.User.Name | fname}},<br />
<br />
We're writing to let you know that you can now link your Cornell NetID to MyHomeworkSpace to automatically import your schedule!
<br />
It's super easy to do! Just log into the <a href="https://app.myhomework.space/#!settings">settings page</a>, and click "Connect Account." <br />
<br />
Once you complete this process, all of your classes and most Cornell-specific events will appear in Calendar and on Dashboard! If you are having trouble, have any feedback or suggestions, or just want to say "hi," we're available through the feedback button, or via email at <a href="mailto:hello@myhomework.space">hello@myhomework.space</a>.
<br />
Have a wonderful afternoon,<br />
<br />
The MyHomeworkSpace Team
{{template "footer"}}