{{template "header"}}
Hey there {{.User.Name | fname}},<br />
<br />
You're getting this email because you just linked your MyHomeworkSpace account to Cornell! Congrats! A few things to keep in mind:
<br />
<ul>
	<li>Some classes that you're automatically enrolled in by your college, such as ENGRG 1050, may not appear in your schedule. We're working on fixing this issue, but in the meantime, we reccomend manually adding these classes as calendar events.</li>
	<li>If you make changes to your schedule (such as add, drop, or swap a class or section), you will need to re-import your schedule to MyHomeworkSpace. You can do this in settings, by disconnecting Cornell University and then following the instructions to add it again.</li>
	<li>If you run into any issues, we're here to help! You can reach out to us to get help, request an email, or just say hi using the "Feedback" button in MyHomeworkSpace, or emailing <a href="mailto:hello@myhomework.space">hello@myhomework.space</a>!</li>
</ul>
<br />
Thanks,
<br />
The MyHomeworkSpace Team
{{template "footer"}}