{{define "header"}}
<!DOCTYPE html><html><head><title>MyHomeworkSpace</title><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></head><body style="font-family:Arial,sans-serif;font-size:14px;padding:20px;"><div style="margin-bottom: 10px"><img src="https://myhomework.space/img/icon128.png" width="48px"></div><div class="body" style="font-family: sans-serif">
{{end}}

{{define "footer"}}
</div><div class="footer" style="color:#444;font-size:12px;margin-top:10px;">You received this email because you have a MyHomeworkSpace account. You can control what emails you receive from <a href="https://myhomework.space/app.html#!settings">your account settings page</a>.</div></div></body></html>
{{end}}